.section-about
  padding-top: 8rem

.section-adventure
  background: linear-gradient(90deg, rgba($color-rown, 0.7) 0.03%, rgba($color-dark, 0.7) 99.94%), url(../img/main-background-part-1.png) center / cover no-repeat
  padding: 21rem 0
  clip-path: polygon(0% 0%,100% 20%, 100% 95%, 0% 85%)